<ion-view view-title="关于我" hide-back-button="false">
  <ion-content >
    <ion-list type="">
      <!--还未登录-->
      <div ng-if="!userDataView.isLogin">
        <ion-item class="" style="margin-top: 10px;" >
          <div class="text-center" style="line-height: 25px;">登录Ai定制</div>
          <div class="text-center" style="line-height: 25px;">进行个人个性化定制</div>
          <div style="padding-left: 10px;padding-right: 10px;margin-top: 15px;">
            <button class="button button-balanced button-full" ng-click="goToLogin()">
              立即登录
            </button>
          </div>
        </ion-item>
      </div>
      <!--已经登录-->
      <div ng-if="userDataView.isLogin">
        <ion-item class="item-thumbnail-left " style="margin-top: 10px;" ng-click="goToMyInformation()">
          <img src="../img/sjg/sjg1.jpg">

          <div style="display: inline-block;vertical-align: middle;margin-top: 10px;">
            <h2>Simple小东</h2>
            <p>Nine Inch Nails</p>
          </div>
          <div style="display: inline-block;vertical-align: middle;float: right;margin-top: 13px;" class="">
            <button class="button button-balanced button-large button-clear button-icon ion-chevron-right" >
            </button>
          </div>

        </ion-item>
        <ion-item  class="item-icon-left item-button-right" style="margin-top: 20px;" ng-click="goToMyCollect()">
          <i class="icon ion-android-chat"></i>
          我的收藏
          <button class="button button-balanced button-clear
        button-large button-icon ion-chevron-right">
          </button>
        </ion-item>
        <ion-item  class="item-icon-left item-button-right" style="margin-top: 5px;"
                   ng-if="userDataView.isDesigner" ng-click="goToMyWorks()">
          <i class="icon ion-android-chat"></i>
          我的作品
          <button class="button button-balanced button-clear
        button-large button-icon ion-chevron-right">
          </button>
        </ion-item>
        <ion-item  class="item-icon-left item-button-right" style="margin-top: 5px;"
                   ng-if="userDataView.isBusiness" ng-click="goToMyShop()">
          <i class="icon ion-android-chat"></i>
          我的商城
          <button class="button button-balanced button-clear
        button-large button-icon ion-chevron-right">
          </button>
        </ion-item>
        <ion-item class="" style="" >
            <button class="button button-balanced button-full" ng-click="loginOut()">
              退出登录
            </button>
        </ion-item>
      </div>


    </ion-list>
  </ion-content>
</ion-view>
