<ion-view hide-back-button="true">
  <ion-nav-title>
    登录
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <a class="button button-light button-clear" href="#/tab/account">
      <i class="icon ion-chevron-left"></i>
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-balanced" href="#/register">
      注册
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list type="card">
      <ion-item class="text-center" ng-if="errorRemindData.isDisplay">
        <div class="assertive-bg padding">
          <span >{{errorRemindData.message}}</span>
        </div>
      </ion-item>
      <ion-item>
        <input type="text" placeholder="手机号码" ng-model="userDataView.phoneNumber" ng-focus="clearErrorRemind()" ng-blur="checkPhoneNumber()">
      </ion-item>
      <ion-item>
        <input type="password" placeholder="请输入密码" ng-model="userDataView.password" ng-focus="clearErrorRemind()">
      </ion-item>
      <ion-item class="item-input padding">
        <button class="button button-full button-balanced" ng-click="login()">登录</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>






<!--
<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="../../lib/ionic/js/ionic.bundle.js"></script>
</head>
<body>
<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">
    登录
  </h1>
  <a class="button button-balanced" href="register.html">
    注册
  </a>
</ion-header-bar>
<ion-content>
  <br/><br/><br/>
  <ion-list type="list-inset"  >
    <ion-item>
      <input type="text" placeholder="手机号码">
      <ion-delete-button></ion-delete-button>
    </ion-item>
    <ion-item>
      <input  type="text" placeholder="请输入密码">
    </ion-item>
    <ion-item >
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </ion-item>


  </ion-list>

</ion-content>
</body>
</html>
<script type="text/javascript">
  angular.module("login",["ionic"]);
</script>
-->
