<ion-view view-title="个人信息" hide-back-button="true"  cache-view="true">
  <ion-nav-buttons side="left">
    <a class="button button-clear " href="#/tab/account">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-right" style="margin-top: 10px;" ng-click="goToUpdateTouXiang()">
        <img ng-src="{{userDataView.touXiangUrl}}">
        <div style="display: inline-block;vertical-align: middle;margin-top: 29px;">
          头像
        </div>
        <button class="button button-stable button-large button-clear
           button-icon ion-chevron-right " style="margin-top: 10px;">
        </button>
      </ion-item>
      <ion-item class="item-button-right" style="margin-top: 10px;">
        账号:{{userDataView.phoneNumber}}
      </ion-item>
      <ion-item class="item-button-right" style="margin-top: 10px;" ng-click="goToUpdateName()">
          名字：{{userDataView.userName}}
        <button class="button button-stable button-large button-clear
           button-icon ion-chevron-right " >
        </button>
      </ion-item>
      <ion-item class="item-button-right" style="margin-top: 10px;" ng-click="goToMyAddress()">
        我的地址
        <button class="button button-stable button-large button-clear
           button-icon ion-chevron-right " >
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

