<ion-view view-title="我的商城" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-clear " href="#/tab/account">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div style="height: 220px;width: 98%;margin:auto;margin-top:5px;">
      <img src="../../img/shangcheng/myShop/4.jpg" style="height: 100%;width: 100%;">
    </div>
    <div>
    </div>
    <ion-item  class="item-icon-left item-button-right" style="margin-top: 12px;" ng-click="goToShangjia_cloth()">
      <i class="icon ion-tshirt"></i>
      我的商品
      <button class="button button-balanced button-clear
        button-large button-icon ion-chevron-right">
      </button>
    </ion-item>
    <ion-item  class="item-icon-left item-button-right" style="margin-top: 8px;" ng-click="goToShangjia_logo()">
      <i class="icon ion-ios-flower"></i>
      我的Logo
      <button class="button button-balanced button-clear
        button-large button-icon ion-chevron-right">
      </button>
    </ion-item>

    <ion-item>
      <button class="button button-full button-balanced" ng-click="goToShangjia_upload()">上传商品</button>
    </ion-item>
  </ion-content>
</ion-view>
