<ion-view view-title="我的作品" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button button-clear " href="#/tab/account">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-item  class="item-icon-left item-button-right" style="margin-top: 20px;" ng-click="goToMySjg()">
      <i class="icon ion-android-chat"></i>
      我的设计稿
      <button class="button button-balanced button-clear
        button-large button-icon ion-chevron-right">
      </button>
    </ion-item>
    <ion-item  class="item-icon-left item-button-right" style="margin-top: 5px;" ng-click="goToMyLogo()">
      <i class="icon ion-android-chat"></i>
      我的Logo
      <button class="button button-balanced button-clear
        button-large button-icon ion-chevron-right">
      </button>
    </ion-item>
  </ion-content>
</ion-view>
