<ion-view view-title="名字" hide-back-button="true">
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/myInformation">
      取消
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="updateUserName()">保存</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-input" style="margin-top: 10px;">
        <input type="text" ng-model="userDataView.userName">
        <button class="button button-clear button-stable  icon ion-ios-close"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
