<ion-view view-title="头像" hide-back-button="true">
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/myInformation">
      <i class="icon ion-chevron-left"></i>
      个人信息
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-more" ng-click="show()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-image" style="margin-top: 20px;">
        <img  src="../img/sjg/sjg3.jpg">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

