<ion-view view-title="快递地址" hide-back-button="true">
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/myInformation">
      返回
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-input" style="margin-top: 10px;">
        <b>收货人</b>
        <input type="text" style="margin-left: 34px;" placeholder="名字">
      </ion-item>
      <ion-item class="item-input" style="margin-top: 10px;" >
        <b>手机号码</b>
        <input type="text" style="margin-left: 20px;" placeholder="11位手机号">
      </ion-item>
      <ion-item class="item-input" style="margin-top: 10px;">
        <b>选择地区</b>
        <input type="text" style="margin-left: 20px;" placeholder="地区信息">
      </ion-item>
      <ion-item class="item-input" style="margin-top: 10px;">
        <b>详细地址</b>
        <input type="text" style="margin-left: 20px;" placeholder="街道门牌信息">
      </ion-item>
      <ion-item class="item-input" style="margin-top: 10px;">
        <b>邮政编码</b>
        <input type="text" style="margin-left: 20px;" placeholder="邮政编码">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

