
<ion-tabs class="tabs-balanced tabs-icon-top">
  <ion-tab title="首页" icon-on="ion-ios-printer"
           icon-off="ion-ios-printer-outline">
    <ion-view view-title="首页">
      <ion-header-bar class="bar-dark">
        <button class="button button-clear icon ion-navicon"></button>
        <h1 class="title">
          首页
        </h1>
      </ion-header-bar>
      <ion-content class="calm-bg">
        这里是首页
      </ion-content>
    </ion-view>
  </ion-tab>
  <ion-tab title="关于我" icon="ion-heart">
    <ion-view view-title="关于我">
      <ion-header-bar class="bar-dark">
        <h1 class="title">关于我</h1>
      </ion-header-bar>
      <ion-content class="energized-bg">
        这里是关于我
      </ion-content>
    </ion-view>
  </ion-tab>
  <ion-tab title="首页" icon="" icon-on="ion-ios-printer" icon-off="ion-ios-printer-outline">
    <ion-view view-title="ddd">
      <ion-header-bar class="bar-positive">
        <h1 class="title">首页</h1>
      </ion-header-bar>
      <ion-content class="calm-bg">
        <br>
        首页内容
      </ion-content>
    </ion-view>
  </ion-tab>
  <ion-tab title="搞设计" class="  " icon-on="ion-social-designernews" icon-off="ion-social-designernews-outline">
    <ion-header-bar class="bar-positive">
      <h1 class="title">搞设计</h1>
    </ion-header-bar>
    <ion-content class="assertive-bg">
      <br>
      搞设计内容
    </ion-content>
  </ion-tab>
  <ion-tab title="AI定制" class="" icon-on="ion-ios-crop-strong" icon-off="ion-ios-crop">
    <ion-header-bar class="bar-positive">
      <h1 class="title">AI定制</h1>
    </ion-header-bar>
    <ion-content class="balanced-bg">
      AI定制
    </ion-content>
  </ion-tab>
  <ion-tab title="商城" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline">
    <ion-header-bar class="bar-positive">
      <h1 class="title">商城</h1>
    </ion-header-bar>
    <ion-content class="calm-bg">
      商城
    </ion-content>
  </ion-tab>
  <ion-tab title="我"  icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
    <ion-header-bar class="bar-positive">
      <h1 class="title">关于我</h1>
    </ion-header-bar>
    <ion-content class="energized-bg">
      关于我
    </ion-content>
  </ion-tab>
</ion-tabs>

