<ion-view hide-back-button="true">
  <ion-nav-title>
    开通设计师功能
  </ion-nav-title>
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/designer">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="" type="list-inset" style="padding-bottom: 0;margin-top: 30px;">
      <ion-item class="" style="">
        <input type="text" placeholder="学历" ng-model="applyData.educationBackground">
      </ion-item>
      <ion-item class="" style="" >
        <input type="text" placeholder="专业" ng-model="applyData.major">
      </ion-item>
      <ion-item class="">
        <div ng-if="applyData.majorImg">
          <img id="majorImg" style="margin-top: 10px;height: 150px;width: 50%;"  ng-src="{{applyData.majorImg}}">
        </div>

        <br/>
        <button class="button button-dark button-clear button-outline" ng-click="uploadImgMajor()" >
          <i class="icon ion-plus"></i>上传专业证书
        </button>

      </ion-item>
      <ion-item class="item-divider" style="">
        <button class="button button-dark button-clear button-outline" ng-click="uploadImgWorks()" >
          <i class="icon ion-wand"></i>上传我的作品
        </button>
         <!-- 上传我的作品
          <button class="button button-large  button-clear button-dark"
                  style="vertical-align: inherit;"
                  ng-click="uploadImgWorks()">
            <i class="icon ion-wand" style="font-size: 40px;"></i>
          </button>-->
      </ion-item>
      <ion-item>
        <div class="row row-wrap">
          <div ng-repeat="sjgImg in applyData.sjgImgs" class="col col-50">
            <img id="sjgImg{{$index}}" style="height: 150px;width: 100%;" ng-src="{{sjgImg}}">
          </div>
        </div>
      </ion-item>
      <ion-item class="" style="" >
        <div class="padding">
          <button class="button button-full button-balanced" ng-click="applyDesigner()">开通</button>
        </div>
      </ion-item>
    </ion-list>
<div style="height: 500px;"></div>
  </ion-content>
</ion-view>
