<ion-view hide-back-button="true">
  <ion-nav-title>
    开通设计师功能
  </ion-nav-title>
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/designer">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list type="card" style="padding-bottom: 0;margin-top: 30px;">
      <ion-item class="" style="">
        <input type="text" placeholder="学历">
      </ion-item>
      <ion-item class="" style="" >
        <input type="text" placeholder="专业">
      </ion-item>
      <ion-item class="" onclick="alert('你好');">
        上传专业证书
        <input type="file" >
      </ion-item>
    </ion-list>
    <div class="padding" style="margin-top: 5px;padding-top: 0;">

      <button class="button button-balanced" onclick="alert('你好');">上传我的作品</button>
    </div>


  </ion-content>
</ion-view>
