<div class="design_page">
<ion-view view-title="搞设计" hide-back-button="true">
  <ion-nav-buttons side="right">
    <!--<button class="button button-small button-balanced  ">
      上传作品
    </button>-->
  </ion-nav-buttons>
  <ion-content class="stable-bg" >

    <hr class="" style="padding: 0;margin-top: 0px;margin-bottom: 0px;"/>
    <div class="row" style="padding: 0;margin-top: 0">
      <div class="col col-20 col-offset-20 " style="text-align: center;">
        <a class="dark" href="#/designer">
          <div class="button button-balanced button-outline " style="border-radius: 45px;height: 50px;width: 45px;
                        padding-top: 4px;">
            <i class=" icon ion-paper-airplane " style="font-size: 40px;"></i>
          </div>
          <div style="margin-top: 3px;">
            设计师
          </div>
        </a>
      </div>
      <div class="col col-20 " style="text-align: center;" >
        <a class="dark" href="#/design_drawing">
        <div class="button button-balanced button-outline " style="border-radius: 45px;height: 50px;width: 45px;
                        padding-top: 4px;">
          <i class=" icon ion-paper-airplane " style="font-size: 40px;"></i>
        </div>
        <div style="margin-top: 3px;">
          设计稿
        </div>
        </a>
      </div>
      <div class="col col-20 " style="text-align: center;" >
        <a class="dark" href="#/logo">
        <div class="button button-balanced button-outline " style="border-radius: 45px;height: 50px;width: 45px;
                        padding-top: 4px;">
          <i class=" icon ion-ios-flower " style="font-size: 40px;"></i>
        </div>
        <div style="margin-top: 3px;">
          Logo
        </div>
      </a>
      </div>
    </div>

<hr class="" style="margin: 0px;"/>

    <div class="design-slide">

      <ion-slide-box   auto-play="true" does-continue="true" show-pager="true" slide-interval="1000">
        <ion-slide ng-repeat="imgSrc in designDatas" class="">
          <img  src="{{imgSrc}}">
        </ion-slide>
       <!-- <ion-slide>
          <img  src="../img/sjg/sjg2.jpg">
        </ion-slide>
        <ion-slide>
          <img  src="../img/sjg/sjg3.jpg">
        </ion-slide>
        <ion-slide>
          <img  src="../img/sjg/sjg4.jpg">
        </ion-slide>
        <ion-slide>
          <img  src="../img/sjg/sjg5.png">
        </ion-slide>-->
      </ion-slide-box>
    </div>


    <!--<div class="row">
      <div class="col col-33" >
        <a class="button button-balanced button-outline icon-bottom ion-paper-airplane">设计稿</a>
      </div>
      <div class="col col-33" >
        <a class="button button-balanced button-outline icon ion-android-attach" style="padding-left: 10px;">
          Logo</a>
      </div>
    </div>-->

  </ion-content>
</ion-view>
</div>
