
<ion-view hide-back-button="true">
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/design_drawing">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-nav-title class="">
    衣服定制
  </ion-nav-title>
  <ion-content>
    <ion-list class="card">
      <ion-item class="item-image"  style="text-align: center;">
        <img src="../img/sjg/sjg1.jpg" class="" style="height: 200px;width: 200px;">
      </ion-item>
      <ion-item class="item-icon-right">
        <div class="" style="width: 80%;">
          <div style="display: inline-block;">
            尺码：
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
              <option>2XL</option>
            </select>
          </div>
          <div style="display: inline-block;margin-left: 30px;">
            件数：
            <select>
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        <div class="" style="width: 80%;">
          <div style="display: inline-block;">
            尺码：
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
              <option>2XL</option>
            </select>
          </div>
          <div style="display: inline-block;margin-left: 30px;">
            件数：
            <select>
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        <div class="" style="width: 80%;">
          <div style="display: inline-block;">
            尺码：
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
              <option>2XL</option>
            </select>
          </div>
          <div style="display: inline-block;margin-left: 30px;">
            件数：
            <select>
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        <div class="" style="width: 80%;">
          <div style="display: inline-block;">
            尺码：
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
              <option>2XL</option>
            </select>
          </div>
          <div style="display: inline-block;margin-left: 30px;">
            件数：
            <select>
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        <div class="" style="width: 80%;">
          <div style="display: inline-block;">
            尺码：
            <select>
              <option>S</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
              <option>2XL</option>
            </select>
          </div>
          <div style="display: inline-block;margin-left: 30px;">
            件数：
            <select>
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
            </select>
          </div>
        </div>
        <i class="icon ion-plus"></i>
      </ion-item>
      <ion-item>
        单价：￥50总数：20  金额：￥1000
      </ion-item>
      <ion-item>
        <a class="button button-dark button-full" href="#/orderPay">好的</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

