<div class="logo_page">
  <ion-view   hide-back-button="true">
    <ion-nav-buttons side="left" >
      <a class="button button-clear " href="#/tab/design">
        <i class="icon ion-chevron-left"></i>
        返回
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <!--<a class="button button-small button-balanced  " href="#/upload_logo">
        上传Logo
      </a>-->
    </ion-nav-buttons>
    <ion-nav-title class="">
      <i class="icon ion-paper-airplane"></i>
      Logo
    </ion-nav-title>

    <ion-content class="stable-bg">
      <div class="" style="margin-top: 5px;">
        <div class="row row-wrap" >
          <div class="col col-50"  ng-repeat="designerLogo in designerLogoList" ng-click="openLogoDetailsModal()">
            <div class="" style="border-right: 1px solid #888888;box-shadow: 1px 1px 1px #888888;">
              <!--<img src="../img/logo/{{data.imgUrl}}">-->
              <img ng-src="{{designerLogo.imgUrl}}">
            </div>
            <div class="" style="margin-top: 10px;">
              <i class=" icon ion-ios-heart-outline"></i>
              {{designerLogo.caption}}
            </div>
          </div>
        </div>
      </div>
      <script id="logo_details" type="text/ng-template">
        <ion-modal-view  class="dark-bg ion_modal_view">
        </ion-modal-view>
        <ion-modal-view  class="light-bg"  style="width: 90%;min-height:89%;
                      margin-top: 40px;margin-left: 20px;">
          <ion-content class="dark-bg">

            <!--   <ion-list type="card" >
                 <ion-item class="testBorder" style="padding: 0;text-align: right;">
                   <button class="button button-dark button-outline icon ion-close-circled" ></button>
                 </ion-item>
                 <ion-item class="item-image">
                   <img src="../img/sjg/sjg1.jpg">
                 </ion-item>
                 <ion-item>
                   ddd
                 </ion-item>
               </ion-list>-->
            <div style="margin-top: 10px;" class="padding">
              <div class="light-bg">
                <ion-list>
                  <ion-item class="item-icon-right" style="text-align: center;" >
                    <i class="icon ion-ios-close-outline"
                       ng-click="closeLogoDetailsModal()"></i>
                  </ion-item>
                  <ion-item class="item-image" style="text-align: center;">
                    <img style="width: 100%;border-radius: 20px;" src="../img/logo/logo2.png">
                  </ion-item>
                  <ion-item>
                    <div class="light-bg" style="padding: 0;text-align: center;">
                      <a class="button button-balanced" style="border-radius: 30px;">
                        <img class="button" style="height: 150px;width: 150px;
                           border-radius: 180px;" src="../img/ben.png">
                      </a>
                    </div>
                  </ion-item>
                  <ion-item class="item-body item-borderless" style="padding-bottom: 0px;">
                    灵感：首先介绍你的灵感来源，以及这一灵感在你的设计中的体现（或是主题在你的设计中的体现），
                    在设计中采用了什么样的材质，款式，及特殊的手法，通过这些方面表达了设计者什么样的情感或想法。
                    灵感：首先介绍你的灵感来源，以及这一灵感在你的设计中的体现（或是主题在你的设计中的体现），
                    在设计中采用了什么样的材质，款式，及特殊的手法，通过这些方面表达了设计者什么样的情感或想法。
                  </ion-item>
                  <div class="padding">
                    <button class="button button-block button-balanced">
                      收藏
                    </button>
                  </div>
                </ion-list>


                <!--  <div class="row light-bg" style="padding: 0;">

                    <div class="col col-100" style="padding: 0;text-align: right;">
                     <div class="button button-balanced button-clear
                      icon ion-ios-close-outline" ></div>
                    </div>
                  </div>






                  <hr style="border-top-color: #e8e8e8;margin: 0px;"/>
              <div class="row light-bg">
                <div class="col col-100">
                  <img style="width: 100%;" src="../img/sjg/sjg1.jpg">
                </div>
             </div>
              <hr style="border-top-color: #e8e8e8;"/>
                  <div class="row light-bg" style="padding: 0;text-align: center;">
                    <div class="col col-100">
                      <a class="button button-balanced" style="border-radius: 30px;">
                        <img class="button" style="height: 150px;width: 150px;border-radius: 180px;" src="../img/ben.png">
                      </a>
                    </div>
                  </div>
              <div class="row light-bg" >
                <div class="col col-100">
                  灵感：首先介绍你的灵感来源，以及这一灵感在你的设计中的体现（或是主题在你的设计中的体现），
                  在设计中采用了什么样的材质，款式，及特殊的手法，通过这些方面表达了设计者什么样的情感或想法。
                  灵感：首先介绍你的灵感来源，以及这一灵感在你的设计中的体现（或是主题在你的设计中的体现），
                  在设计中采用了什么样的材质，款式，及特殊的手法，通过这些方面表达了设计者什么样的情感或想法。
                </div>
              </div>

                  <div class="row light-bg" style="padding: 0;">
                    <div class="col col-100">
                      <button class="button button-full button-balanced">
                        我要定制
                      </button>
                    </div>
                  </div>
  -->











              </div>



            </div>
            </div>

          </ion-content>
        </ion-modal-view>



      </script>
    </ion-content>
  </ion-view>
</div>








