
<ion-view hide-back-button="true">
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/designer">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-nav-title class="">
    <i class="icon ion-paper-airplane"></i>
    设计稿详情
  </ion-nav-title>
  <ion-content>
    <div class="padding">
      <div class="light-bg">
        <ion-list>

          <ion-item class="item-image" style="text-align: center;">
            <img style="width: 100%;" src="../img/sjg/sjg1.jpg">
          </ion-item>
          <ion-item class="item-body item-borderless" style="padding-bottom: 0px;">
            灵感：首先介绍你的灵感来源，以及这一灵感在你的设计中的体现（或是主题在你的设计中的体现），
            在设计中采用了什么样的材质，款式，及特殊的手法，通过这些方面表达了设计者什么样的情感或想法。
            灵感：首先介绍你的灵感来源，以及这一灵感在你的设计中的体现（或是主题在你的设计中的体现），
            在设计中采用了什么样的材质，款式，及特殊的手法，通过这些方面表达了设计者什么样的情感或想法。
          </ion-item>
          <div class="padding">
            <button class="button button-block button-balanced">
              我要定制
            </button>
          </div>
        </ion-list>


        <!--  <div class="row light-bg" style="padding: 0;">

            <div class="col col-100" style="padding: 0;text-align: right;">
             <div class="button button-balanced button-clear
              icon ion-ios-close-outline" ></div>
            </div>
          </div>






          <hr style="border-top-color: #e8e8e8;margin: 0px;"/>
      <div class="row light-bg">
        <div class="col col-100">
          <img style="width: 100%;" src="../img/sjg/sjg1.jpg">
        </div>
     </div>
      <hr style="border-top-color: #e8e8e8;"/>
          <div class="row light-bg" style="padding: 0;text-align: center;">
            <div class="col col-100">
              <a class="button button-balanced" style="border-radius: 30px;">
                <img class="button" style="height: 150px;width: 150px;border-radius: 180px;" src="../img/ben.png">
              </a>
            </div>
          </div>
      <div class="row light-bg" >
        <div class="col col-100">
          灵感：首先介绍你的灵感来源，以及这一灵感在你的设计中的体现（或是主题在你的设计中的体现），
          在设计中采用了什么样的材质，款式，及特殊的手法，通过这些方面表达了设计者什么样的情感或想法。
          灵感：首先介绍你的灵感来源，以及这一灵感在你的设计中的体现（或是主题在你的设计中的体现），
          在设计中采用了什么样的材质，款式，及特殊的手法，通过这些方面表达了设计者什么样的情感或想法。
        </div>
      </div>

          <div class="row light-bg" style="padding: 0;">
            <div class="col col-100">
              <button class="button button-full button-balanced">
                我要定制
              </button>
            </div>
          </div>
  -->











      </div>
    </div>
  </ion-content>
</ion-view>




