<div>
  <ion-view   hide-back-button="true">
    <ion-nav-buttons side="right" >
      <a class="button button-outline button-light " href="#/myWorks">
        取消
      </a>
    </ion-nav-buttons>
  <!--  <ion-nav-buttons side="right">
      <button class="button button-small button-balanced  ">
        上传Logo
      </button>
    </ion-nav-buttons>-->
    <ion-nav-title class="">
      上传设计稿
    </ion-nav-title>
    <ion-content class="">
      <ion-list  type="card" style="padding-bottom: 0;margin-top: 10px;">
        <ion-item class="item-divider" style="" >
          作品标题
        </ion-item>
        <ion-item class="" style="">
          <input type="text" placeholder="：" ng-model="sjgData.caption">
        </ion-item>
        <ion-item class="item-divider" style="">
          灵感描述
        </ion-item>
        <ion-item class="" style="">
         <textarea style="width: 100%;"cols="" rows="10" ng-model="sjgData.introduction">

         </textarea>
        </ion-item>
        <ion-item class="item-divider" style="">
          <button class="button button-dark button-clear button-outline" ng-click="uploadWorks()" >
            <i class="icon ion-wand"></i>上传我的作品
          </button>
        </ion-item>
        <ion-item>
          <ion-slide-box   auto-play="true" does-continue="true" show-pager="true" slide-interval="1000">
            <ion-slide ng-repeat="sjg in sjgData.sjgImgs" >
              <img id="sjgImg{{$index}}" style=" height: 300px;width: 100%;" ng-src="{{sjg}}">
            </ion-slide>
          </ion-slide-box>
        </ion-item>
        <ion-item class="" style="" >
          <div class="padding">
            <button class="button button-full button-balanced" ng-click="uploadToService()">上传</button>
          </div>
        </ion-item>
        <div style="height: 300px;">

        </div>
      </ion-list>
    </ion-content>
  </ion-view>
</div>








