<div class="aiDingZhi_page">
  <ion-view view-title="AI定制" hide-back-button="false">
    <ion-content>
      <div class="row padding">
        <div class="col col-25 col-offset-10 calm-bg button" style="margin-left: 35px;"  ng-click="goToPostNeed()">

          <div>
            <i class="icon ion-alert-circled"></i>
            <br/>
            <div>
              发布需求
            </div>
          </div>


        </div>
        <div class="col col-25 balanced-bg button" ng-click="goToMyDingZhi()">
          <i class="icon ion-alert-circled"></i>
          <br/>
          我的定制
        </div>
        <div class="col col-25 royal-bg button">
          <i class="icon ion-alert-circled"></i>
          <br/>
          聊天记录
        </div>
      </div>
      <hr/>
    </ion-content>
  </ion-view>
</div>
