<ion-view hide-back-button="false">
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/tab/aiDingZhi">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-nav-title>
    我的定制
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item>
        第一步：填写需求描述
      </ion-item>
      <ion-item>
        第二步：选择设计师
      </ion-item>
      <ion-item>
        第三步：设计稿定价
      </ion-item>
    </ion-list>
    <div class="padding">
      <button class="button button-full button-balanced" style="border-radius: 5px;">发布</button>
    </div>
  </ion-content>
</ion-view>
