<ion-view hide-back-button="false">
  <ion-nav-buttons side="left" >
    <a class="button button-clear " href="#/tab/aiDingZhi">
      <i class="icon ion-chevron-left"></i>
      返回
    </a>
  </ion-nav-buttons>
  <ion-nav-title>
    我的定制
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item>
        显示自己的定制结果，并且可以供修改
      </ion-item>
    </ion-list>
    <div class="padding">
      <button class="button button-full button-balanced" style="border-radius: 5px;">修改</button>
    </div>
  </ion-content>
</ion-view>
