<div class="">
  <ion-view   hide-back-button="true">
    <ion-nav-title class="">
      上传
    </ion-nav-title>
    <ion-nav-buttons side="left">
      <a class="button button-clear " href="#/myShop">
        返回
      </a>
    </ion-nav-buttons>
    <ion-content>
      <ion-slide-box show-pager="false">
        <ion-slide>
          <div class="row" style="margin-top: 0px;margin-bottom: 20px;">
            <div class="col col-90 "style="margin-left: 18px;text-align: center;height: 250px;">
              <i class="button button-balanced button-clear button-icon  ion-plus-circled "
                 style="font-size: 250px;" ng-click="uploadCloth()"></i>
              <i class="button button-balanced button-clear button-icon  ion-arrow-return-right "
                 style="font-size: 40px;position: fixed;top:220px;" ng-click="slideLogo()"></i>
            </div>
          </div>
          <ion-list>
            <ion-item style="text-align: center;">
              <b>上传衣服</b>
            </ion-item>
          </ion-list>
        </ion-slide>
        <ion-slide>
          <div class="row" style="margin-top: 0px;margin-bottom: 20px;">
            <div class="col col-90 "style="margin-left: 18px;text-align: center;height: 250px;">
              <i class="button button-calm button-clear button-icon  ion-plus-circled "
                 style="font-size: 250px;" ng-click="uploadLogo()"></i>
              <i class="button button-calm button-clear button-icon  ion-arrow-return-left "
                 style="font-size: 40px;position: fixed;top:220px;" ng-click="slideCloth()"></i>
            </div>
          </div>
          <ion-list>
            <ion-item style="text-align: center;">
              <b>上传Logo</b>

            </ion-item>
          </ion-list>
        </ion-slide>

      </ion-slide-box>


    </ion-content>
  </ion-view>
</div>









