<div class="design_details_page">
  <ion-view   hide-back-button="true">
    <ion-nav-buttons side="left" >
      <a class="button button-clear " href="#/tab/shopping">
        <i class="icon ion-chevron-left"></i>
        返回
      </a>
    </ion-nav-buttons>
    <ion-nav-title class="">
      商家详情
    </ion-nav-title>

    <ion-content class="stable-bg">
    </ion-content>
    <ion-footer-bar>
      <button class="button button-small button-balanced">私人定制</button>
      <button class="button button-small button-balanced">关注</button>
    </ion-footer-bar>
  </ion-view>
</div>








