<div class="">
  <ion-view   hide-back-button="true">
    <ion-nav-title class="">
      商城（班服定制）
    </ion-nav-title>
    <ion-nav-buttons side="right" >
      <a class="button button-small button-balanced" href="#/apply_shangjia"
         ng-if="!userDataView.isBusiness">
        成为商家
      </a>
    </ion-nav-buttons>
    <ion-content class="stable-bg">
      <div class="sjg_show">
        <div class="row row-wrap"  style="margin-top: 15px;">
          <div class="col col-50 " ng-repeat="shangChengCloth in shangChengClothList" style="" ng-click="openModal($index)">

            <div class="img_div">
              <img ng-src="{{shangChengCloth.imgUrl}}"  style="  height: 150px;width: 100%;">
            </div>
            <div style="text-align: center;">
              {{shangChengCloth.caption}}
            </div>
            <div style="text-align: center;">
              商家：simple
            </div>
            <div style="text-align: center;">
              ￥{{shangChengCloth.price}}   <span style="margin-left: 16px;">销量：90</span>
            </div>
          </div>
        </div>
     <!--   <div class="row" ng-repeat="i in [1,2,3,4,5]" style="margin-top: 15px;">
          <div class="col col-50 " style="" ng-click="openModal()">

            <div class="img_div">
              <img src="../img/shangcheng/cloth/1.jpg"  style="  height: 150px;width: 100%;">
            </div>
            <div style="text-align: center;">
              聚会t恤文化广告衫
            </div>
            <div style="text-align: center;">
              ￥90   <span style="margin-left: 16px;">销量：90</span>
            </div>
          </div>
          <div class="col col-50 ">
            <div class="img_div">
              <img src="../img/shangcheng/cloth/1.jpg" style="  height: 150px;width: 100%;">
            </div>
            <div style="text-align: center;">
              聚会t恤文化广告衫
            </div>
            <div style="text-align: center;">
              ￥90   <span style="margin-left: 16px;">销量：90</span>
            </div>
          </div>
        </div>-->
      </div>
      <script id="shopping_details" type="text/ng-template">
        <ion-modal-view  class="dark-bg ion_modal_view">
        </ion-modal-view>
        <ion-modal-view  class="light-bg"  style="width: 90%;min-height:89%;
                      margin-top: 40px;margin-left: 20px;">
          <ion-content class="dark-bg">
            <div style="margin-top: 10px;" class="padding">
              <div class="light-bg">
                <ion-list>
                  <ion-item class="item-icon-right" style="text-align: center;" >
                    <i class="icon ion-ios-close-outline"
                       ng-click="closeModal()"></i>
                  </ion-item>
                  <ion-item class="item-image" style="text-align: center;margin-bottom: 10px;">
                    <img style="width: 90%;height:250px;margin: auto;margin-top: 20px;" ng-src="{{selectShangChengCloth}}">
                  </ion-item>
                  <ion-item class="item-divider">
                      商家销售记录
                  </ion-item>
                  <ion-item style="font-size: 14px;">
                    <ul>
                      <li style="border: 1px solid #ccc; padding-left: 10px;">
                        2016年5月21日为<span style="color: #0a9dc7">才艺音乐协会</span> 定制了<span style="color: #0a9dc7">T恤</span><br>
                        <span style="color:blue ">件数：90</span>
                        <span style="color:blue;margin-left: 20px;"> 评价：满意</span>
                      </li>
                      <li style="border: 1px solid #ccc; padding-left: 10px;margin-top: 5px;">
                        2016年5月21日为<span style="color: #0a9dc7">才艺音乐协会</span> 定制了<span style="color: #0a9dc7">T恤</span><br>
                        <span style="color:blue ">件数：90</span>
                        <span style="color:blue;margin-left: 20px;"> 评价：满意</span>
                      </li>
                      <li style="border: 1px solid #ccc; padding-left: 10px;margin-top: 5px;">
                        2016年5月21日为<span style="color: #0a9dc7">才艺音乐协会</span> 定制了<span style="color: #0a9dc7">T恤</span><br>
                        <span style="color:blue ">件数：90</span>
                        <span style="color:blue;margin-left: 20px;"> 评价：满意</span>
                      </li>
                      <li style="border: 1px solid #ccc; padding-left: 10px;margin-top: 5px;">
                        2016年5月21日为<span style="color: #0a9dc7">才艺音乐协会</span> 定制了<span style="color: #0a9dc7">T恤</span><br>
                        <span style="color:blue ">件数：90</span>
                        <span style="color:blue;margin-left: 20px;"> 评价：满意</span>
                      </li>
                    </ul>
                  </ion-item>
                  <ion-item>
                   <button ng-click="goToShangJia_details()">
                     商家
                   </button>
                  </ion-item>

                  <div class="padding">
                    <button class="button button-block button-balanced" ng-click="diyCloth()">
                      开始DIY
                    </button>
                  </div>
                </ion-list>
              </div>



            </div>
            </div>

          </ion-content>
        </ion-modal-view>



      </script>

    </ion-content>
  </ion-view>
</div>









